
body{
    margin: 0;
    padding: 0;
    background-color: #434649;
    min-width: 1200px;
}
.peoples-image{
    min-width: 1128px;
    width: 100%;
    height: 1%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: url(../assets/image/peoples.jpg) no-repeat ;
    padding: 60px 0;
}

.sonu{
    border: 2px solid black;
}
.Button{
    border: 1px solid grey;
}
