
body{
    margin: 0;
    padding: 0;
    background-color: #434649;
    min-width: 1320px;
}

.peoples-image{
    min-width: 1380px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 50px 0 10px;
    pointer-events: none;
}
